.hero {
      background: url('/html/image/anders-jilden-cYrMQA7a3Wc-unsplash.jpg') no-repeat center center;
      background-size: cover;  
      height: 800px;            
      position: relative;
      color: white;
    }

h5.custom-bg{
    background-color: #d4dddbdc;
    width: 80%;
    max-width :18rem;
    border-radius: 8px;
    margin-top: 25vh;
    text-align: center;
    padding: 0.3rem;
    word-wrap: break-word;
    white-space: normal;
}
.mid{
    background: url('/html/image/philipp-kammerer-6Mxb_mZ_Q8E-unsplash.jpg') no-repeat center center;
      background-size: cover;  
      height: 600px;            
      position: relative;
      color: white;
}