.hero {
      background: url('/html/image/anders-jilden-cYrMQA7a3Wc-unsplash.jpg') no-repeat center center;
      background-size: cover;  
      height: 800px;            
      position: relative;
      color: white;
    }

h5.custom-bg{
    background-color: #d4dddbdc;
    width: 290px;
    border-radius: 8px;
    margin-top: 170px ;
    text-align: center;
    padding: 3px;
}